In [1]:
import pandas as pd

# Market Cap Cleaning

In [2]:
market_cap=pd.read_csv('/home/choobs96/Desktop/Property_Market_Cap.csv',sep="|").drop(['Unnamed: 0'], axis=1)

In [3]:
market_cap.columns=['Company_Name',
 'Company_Code',
 'Company_Code_KL',
 'URL',
 'Market_Cap',
 'Last_Price',
 'Price_per_Earning',
 'Divident_Yield',
 'Return_of_Equity',
 'Market_Cap_Float']

In [4]:
market_cap.columns.to_list()

['Company_Name',
 'Company_Code',
 'Company_Code_KL',
 'URL',
 'Market_Cap',
 'Last_Price',
 'Price_per_Earning',
 'Divident_Yield',
 'Return_of_Equity',
 'Market_Cap_Float']

In [5]:
market_cap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       10 non-null     object
 1   Company_Code       10 non-null     int64
 2   Company_Code_KL    10 non-null     object
 3   URL                10 non-null     object
 4   Market_Cap         10 non-null     object
 5   Last_Price         10 non-null     float64
 6   Price_per_Earning  10 non-null     float64
 7   Divident_Yield     10 non-null     float64
 8   Return_of_Equity   10 non-null     float64
 9   Market_Cap_Float   10 non-null     float64
dtypes: float64(5), int64(1), object(4)
memory usage: 928.0+ bytes

In [6]:
market_cap.to_csv("Property_Market_Cap.csv",sep = "|")

# Bursa Cleaning

In [7]:
bursa=pd.read_csv('/home/choobs96/Desktop/Bursa_Announcement.csv',sep="|").drop(['Unnamed: 0'], axis=1)

In [8]:
bursa

,Announcement Date,Company Name,Title,Company Code
0,19 Mar 2020,IOI PROPERTIES GROUP BERHAD,Changes in Sub. S-hldr's Int (Section 138 of C...,5249
1,18 Mar 2020,IOI PROPERTIES GROUP BERHAD,Changes in Sub. S-hldr's Int (Section 138 of C...,5249
2,17 Mar 2020,IOI PROPERTIES GROUP BERHAD,DEALINGS IN LISTED SECURITIES (CHAPTER 14 OF L...,5249
3,17 Mar 2020,IOI PROPERTIES GROUP BERHAD,Changes in Sub. S-hldr's Int (Section 138 of C...,5249
4,17 Mar 2020,IOI PROPERTIES GROUP BERHAD,Changes in Sub. S-hldr's Int (Section 138 of C...,5249
...,...,...,...,...
3015294,27 May 2013,MATRIX CONCEPTS HOLDINGS BERHAD,Initial Public Offering,5236
3015295,23 May 2013,MATRIX CONCEPTS HOLDINGS BERHAD,Quarterly rpt on consolidated results for the ...,5236
3015296,23 May 2013,MATRIX CONCEPTS HOLDINGS BERHAD,First Interim Dividend,5236
3015297,08 May 2013,MATRIX CONCEPTS HOLDINGS BERHAD,Timetable for IPO,5236
3015298,08 May 2013,MATRIX CONCEPTS HOLDINGS BERHAD,"PUBLIC ISSUE OF 62,500,000 NEW ORDINARY SHARES...",5236

In [9]:
bursa['Announcement Date'] = pd.to_datetime(bursa['Announcement Date'])

In [10]:
bursa.columns =['Announcement_Date', 'Company_Name', 'Title', 'Company_Code']

In [11]:
bursa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3015299 entries, 0 to 3015298
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   Announcement_Date  datetime64[ns]
 1   Company_Name       object
 2   Title              object
 3   Company_Code       int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 92.0+ MB

In [12]:
bursa.columns

Index(['Announcement_Date', 'Company_Name', 'Title', 'Company_Code'], dtype='object')

In [13]:
bursa.to_csv("Bursa_Announcement.csv",sep = "|")

# Historical Price Cleaning

In [14]:
historical=pd.read_csv('/home/choobs96/Desktop/Historical_Price.csv',sep="|").drop(['Unnamed: 0'], axis=1)

In [15]:
historical['Date']= pd.to_datetime(historical['Date'])

In [16]:
historical.isnull().sum()

Date               0
High               0
Low                0
Open               0
Close              0
Volume             0
Adj Close          0
Company Code KL    0
dtype: int64

In [17]:
historical_col=historical.columns.to_list()

In [18]:
historical_col

['Date',
 'High',
 'Low',
 'Open',
 'Close',
 'Volume',
 'Adj Close',
 'Company Code KL']

In [19]:
historical.columns=['Date_',
 'High_P',
 'Low_P',
 'Open_P',
 'Close_P',
 'Volume',
 'Adj_Close',
 'Company_Code_KL']

In [20]:
historical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16976 entries, 0 to 16975
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_            16976 non-null  datetime64[ns]
 1   High_P           16976 non-null  float64
 2   Low_P            16976 non-null  float64
 3   Open_P           16976 non-null  float64
 4   Close_P          16976 non-null  float64
 5   Volume           16976 non-null  float64
 6   Adj_Close        16976 non-null  float64
 7   Company_Code_KL  16976 non-null  object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 1.0+ MB

In [21]:
historical.columns

Index(['Date_', 'High_P', 'Low_P', 'Open_P', 'Close_P', 'Volume', 'Adj_Close',
       'Company_Code_KL'],
      dtype='object')

In [22]:
historical.to_csv("Historical_Price.csv",sep = "|")

#  Cleaning KLSE Historical Data

In [23]:
klse=pd.read_csv('/home/choobs96/Desktop/KLSE_Historical_data.csv',sep="|").drop(['Unnamed: 0'], axis=1)

In [24]:
klse_col=['Date_', 'Open_P', 'High_P', 'Low_P', 'Close_P', 'Adj_Close', 'Volume']

In [25]:
klse.columns = klse_col

In [27]:
klse.isnull().sum()

Date_        0
Open_P       0
High_P       0
Low_P        0
Close_P      0
Adj_Close    0
Volume       0
dtype: int64

In [28]:
def convert_date(i):
    month=i[:3]
    day=i[3:5]
    year=i[5:]
    output = year+'-'+month+'-'+day
    return output

In [30]:
klse['Date_']=klse['Date_'].apply(convert_date)

In [31]:
for i in klse_col:
    if i=='Date_':
        klse[i]=klse[i].str.replace(',', '').replace('-', '0')
    else:
        klse[i]=klse[i].str.replace(',', '').replace('-', '0').astype(float)

In [32]:
klse['Date_']= pd.to_datetime(klse['Date_'])

In [33]:
klse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2470 entries, 0 to 2469
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date_      2470 non-null   datetime64[ns]
 1   Open_P     2470 non-null   float64
 2   High_P     2470 non-null   float64
 3   Low_P      2470 non-null   float64
 4   Close_P    2470 non-null   float64
 5   Adj_Close  2470 non-null   float64
 6   Volume     2470 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 135.2 KB

In [34]:
klse.columns

Index(['Date_', 'Open_P', 'High_P', 'Low_P', 'Close_P', 'Adj_Close', 'Volume'], dtype='object')

In [35]:
klse.to_csv('KLSE_Historical_data.csv',sep = "|")

# Quarter Report data cleaning

In [36]:
quarter=pd.read_csv('/home/choobs96/Desktop/Scraped_data_property.csv',sep="|").drop(['Unnamed: 0'], axis=1)

In [37]:
quarter.columns

Index(['Date', 'Financial Year', 'No. ', 'Financial Quarter',
       'Revenue (RM,000)', 'PBT (RM,000)', 'Net Profit (RM,000)', 'EPS (Cent)',
       'Dividend (Cent)', 'NTA (RM)', 'YoY (%)', 'Company Code'],
      dtype='object')

In [38]:
quarter['Date'] = pd.to_datetime(quarter['Date'])
quarter['Financial Year'] = pd.to_datetime(quarter['Financial Year'])
quarter['Financial Quarter'] = pd.to_datetime(quarter['Financial Quarter'])
quarter['No. ']=quarter['No. '].replace('-', '0').astype(int)
quarter['Revenue (RM,000)']=quarter['Revenue (RM,000)'].str.replace(',', '').astype(float)
quarter['PBT (RM,000)']=quarter['PBT (RM,000)'].str.replace(',', '').astype(float)
quarter['Net Profit (RM,000)']=quarter['Net Profit (RM,000)'].str.replace(',', '').astype(float)

In [39]:
quarter

,Date,Financial Year,No.,Financial Quarter,"Revenue (RM,000)","PBT (RM,000)","Net Profit (RM,000)",EPS (Cent),Dividend (Cent),NTA (RM),YoY (%),Company Code
0,2020-02-25,2020-06-30,2,2019-12-31,564129.0,286301.0,199749.0,3.63,0.00,3.43,7%,5249
1,2019-11-25,2020-06-30,1,2019-09-30,540315.0,255649.0,136636.0,2.48,0.00,3.40,22%,5249
2,2019-08-29,2019-06-30,4,2019-06-30,497791.0,227892.0,139768.0,2.54,3.00,3.42,47%,5249
3,2019-05-27,2019-06-30,3,2019-03-31,487739.0,300902.0,194700.0,3.54,0.00,3.38,17%,5249
4,2019-02-26,2019-06-30,2,2018-12-31,666150.0,355012.0,214864.0,3.90,0.00,3.36,97%,5249
...,...,...,...,...,...,...,...,...,...,...,...,...
380,2014-08-19,2014-12-31,2,2014-06-30,163747.0,58550.0,42447.0,14.00,3.75,2.02,41%,5236
381,2014-05-21,2014-12-31,1,2014-03-31,134700.0,53958.0,38550.0,12.80,5.00,1.92,0%,5236
382,2014-02-25,2013-12-31,4,2013-12-31,144335.0,56412.0,40664.0,13.50,0.05,1.83,0%,5236
383,2013-11-19,2013-12-31,3,2013-09-30,127416.0,48741.0,36202.0,12.10,0.10,1.80,0%,5236
384,2013-08-26,2013-12-31,2,2013-06-30,147322.0,40588.0,30041.0,13.10,0.07,1.73,0%,5236

In [40]:
quarter_col= ['Date_',
 'Financial_Year',
 'No_',
 'Financial_Quarter',
 'Revenue_K',
 'PBT_K',
 'Net_Profit_K',
 'EPS_Cent',
 'Dividend_Cent',
 'NTA',
 'YoY_percent',
 'Company_Code']

In [41]:
quarter.columns = quarter_col

In [42]:
quarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_              385 non-null    datetime64[ns]
 1   Financial_Year     385 non-null    datetime64[ns]
 2   No_                385 non-null    int64
 3   Financial_Quarter  385 non-null    datetime64[ns]
 4   Revenue_K          385 non-null    float64
 5   PBT_K              385 non-null    float64
 6   Net_Profit_K       385 non-null    float64
 7   EPS_Cent           385 non-null    float64
 8   Dividend_Cent      385 non-null    float64
 9   NTA                385 non-null    float64
 10  YoY_percent        385 non-null    object
 11  Company_Code       385 non-null    int64
dtypes: datetime64[ns](3), float64(6), int64(2), object(1)
memory usage: 36.2+ KB

In [43]:
quarter.columns

Index(['Date_', 'Financial_Year', 'No_', 'Financial_Quarter', 'Revenue_K',
       'PBT_K', 'Net_Profit_K', 'EPS_Cent', 'Dividend_Cent', 'NTA',
       'YoY_percent', 'Company_Code'],
      dtype='object')

In [44]:
quarter.to_csv("Scraped_data_property.csv",sep = "|")